body{
 background: #b00e0ef7;
}
.bar {
        fill:black;

}

h1{
  text-shadow: 1px 9px 20px black;
}

.bar:hover{
  
  fill:yellow;
}

.card{
  margin:0 auto;
  width:1200px;
  background:#a6bdb5;
 
   -moz-box-shadow:    inset 0px 0px 17px 10px #000000;;
   -webkit-box-shadow: inset 0px 0px 17px 10px #000000;;
   box-shadow:         inset 0px 0px 17px 10px #000000;;
  
}

svg{
  display:block;
  margin:auto
}

.axis text {
    font: 15px sans-serif;
}

.tooltip {
            position: absolute;
            font-size: 14px;
            width:  auto;
  padding-top:18px;
  padding-left:5px;
  padding-bottom:18px;
            height: auto;
            pointer-events: none;
  color:white;
            background-color: black;
}

